<h1 class="text-xs sm:text-sm lg:text-lg xl:text-4xl 2xl: text-6xl height-2rem text-center" >About me</h1>
<h3>{{ 'welcomeMessage' | translate: user }}</h3>
<div class="flex flex-col justify-around items-center height-minus-4rem">
    <div class="px-3">
        <p>
            No, get out of town, my mom thinks I'm going camping with the guys. Well, Jennifer, my mother would freak out if she knew I was going up there with you. And I get this standard lecture about how she never did that kind of stuff when she was a kid. Now look, I think she was born a nun. No. I'd like you to meet my good friend George McFly. What kind of date? I don't know, what do kids do in the fifties? Okay, but I don't know what to say. 
        </p>
    </div>
    <div class="px-3">
        <p>
            Yeah but George, Lorraine wants to go with you. Give her a break. I know, and all I could say is I'm sorry. Silence Earthling. my name is Darth Vader. I'm am an extra-terrestrial from the planet Vulcan. There, there, now, just relax. You've been asleep for almost nine hours now. Well, bring her along. This concerns her too.
        </p>
    </div>
    <div class="px-3">
        <p>
            The appropriate question is, weren't the hell are they. Einstein has just become the world's first time traveler. I sent him into the future. One minute into the future to be exact. And at exactly 1:21 a.m. we should cat h up with him and the time machine. Something wrong with the starter, so I hid it. Because, you might regret it later in life. Mother, with Marty's parents out of town, don't you think he oughta spend the night, after all, Dad almost killed him with the car. No no no this sucker's electrical, but I need a nuclear reaction to generate the one point twenty-one gigawatts of electricity-
       </p>
    </div>
</div>
