<div class="flex flex-col items-center text-center pb-3">
    <button class="place-self-end mr-5" (click)="collapseAll()">
        <span *ngIf="showAll">{{ 'collapseAll' | translate }}</span>
        <span *ngIf="!showAll">{{ 'expandAll' | translate }}</span>
    </button>
    <h2 class="font-bold text-base md:text-xl lg:text-2xl xl:text-2xl 2xl:text-3xl 3xl:text-4xl height-2rem mb-3">{{ 'computer-skills' | translate }}</h2>
    <div class="">
        <p>Spring</p>
        <p>Spring Data Jpa</p>
        <p>Angular</p>  
        <p>Sql</p>
        <p>Azure</p>
        <p>C C++</p>
        <p>Uml</p>
    </div>
    <h2 class="font-bold text-base md:text-xl lg:text-2xl xl:text-2xl 2xl:text-3xl 3xl:text-4xl height-2rem mb-3">{{ 'experiences' | translate }}</h2>
    <div class="mb-2 border-2 border-white hover:border-gray-200 cursor-pointer" (click)="collapse('airfrance')">
        <p>Fullstack developper</p>
        <p>Air France</p>
        <div [ngClass]="{ 'block': map.get('airfrance'), 'hidden': !map.get('airfrance') }" class="mt-2">
            <p>Some details</p>
            <p>Some more details</p>
            <p>Some extra details</p>
            <p>Again some details</p>
        </div>  
    </div>
    <div class="mb-2 border-2 border-white hover:border-gray-200 cursor-pointer" (click)="collapse('infotel')">
        <p>Work placement fullstack developper</p>
        <p>Infotel</p>
        <div [ngClass]="{ 'block': map.get('infotel'), 'hidden': !map.get('infotel') }">
            <p>Some details</p>
            <p>Some more details</p>
            <p>Some extra details</p>
            <p>Again some details</p>
        </div>  
    </div>
    <div class="mb-2 border-2 border-white hover:border-gray-200 cursor-pointer">
        <p>Work placement fullstack developper</p>
        <p></p> 
    </div>
    <h2 class="font-bold text-base md:text-xl lg:text-2xl xl:text-2xl 2xl:text-3xl 3xl:text-4xl height-2rem mb-3">{{ 'training' | translate }}</h2>
    <div class="mb-2 border-2 border-white hover:border-gray-200 cursor-pointer">
        <p>Conception & developpement</p>
        <p>Afpa Nice - France</p> 
    </div>
    <div class="mb-2">
        <p>Web developper and web mobile</p>
        <p>Afpa Nice - France</p>  
    </div>
    <h2 class="font-bold text-base md:text-xl lg:text-2xl xl:text-2xl 2xl:text-3xl 3xl:text-4xl height-2rem mb-3">{{ 'languages' | translate }}</h2>
    <div class="mb-1">
        <p>French</p>
        <p></p>
    </div>
    <div class="mb-1">
        <p>English</p>
        <p></p>  
    </div>
    <div class="mb-1">
        <p>Spanish</p>
        <p></p> 
    </div>
    <h2 class="font-bold text-base md:text-xl lg:text-2xl xl:text-2xl 2xl:text-3xl 3xl:text-4xl height-2rem mb-3">{{ 'leisures' | translate }}</h2>
    <div class="mb-1">
        <p>Coding</p>
        <p>Electronic</p>
        <p>Reading</p>
        <p>Swimming</p>
        <p>Cooking</p>
    </div>
</div>
