<div class="flex flex-col items-center text-center pb-3 ">
    <h2 class="font-bold text-xs sm:text-sm lg:text-lg xl:text-2xl 2xl:text-4xl height-2rem text-center mb-3">Computer Skills</h2>
    <div class="">
        <p>Spring</p>
        <p>Spring Data Jpa</p>
        <p>Angular</p>  
        <p>Sql</p>
        <p>Azure</p>
        <p>C C++</p>
        <p>Uml</p>
    </div>
    <h2 class="font-bold text-xs sm:text-sm lg:text-lg xl:text-2xl 2xl:text-4xl height-2rem text-center mb-3">Job Experiences</h2>
    <div class="mb-2">
        <p>Fullstack developper</p>
        <p>Air France</p>
    </div>
    <div class="mb-2">
        <p>Work placement fullstack developper</p>
        <p>Infotel</p>  
    </div>
    <div class="mb-2">
        <p>Work placement fullstack developper</p>
        <p></p> 
    </div>
    <h2 class="font-bold text-xs sm:text-sm lg:text-lg xl:text-2xl 2xl:text-4xl height-2rem text-center mb-3">Educations</h2>
    <div class="mb-2">
        <p>Conception & developpement</p>
        <p>Afpa Nice - France</p> 
    </div>
    <div class="mb-2">
        <p>Web developper and web mobile</p>
        <p>Afpa Nice - France</p>  
    </div>
    <h2 class="font-bold text-xs sm:text-sm lg:text-lg xl:text-2xl 2xl:text-4xl height-2rem text-center mb-3">Languages</h2>
    <div class="mb-1">
        <p>French</p>
        <p></p>
    </div>
    <div class="mb-1">
        <p>English</p>
        <p></p>  
    </div>
    <div class="mb-1">
        <p>Spanish</p>
        <p></p> 
    </div>
    <h2 class="font-bold text-xs sm:text-sm lg:text-lg xl:text-2xl 2xl:text-4xl height-2rem text-center mb-3">Leisures</h2>
    <div class="mb-1">
        <p>Coding</p>
        <p>Electronic</p>
        <p>Reading</p>
        <p>Swimming</p>
        <p>Cooking</p>
    </div>
</div>
