<ul class="flex height-2rem text-base md:text-xl lg:text-2xl xl:text-2xl 2xl:text-3xl 3xl:text-4xl">
    <li class="mr-6 pl-2">
      <a class="text-black-500 hover:text-gray-400" routerLink="projects" routerLinkActive="highlight">{{ 'projects' | translate}}</a>
    </li>
    <li class="mr-6">
      <a class="text-black-500 hover:text-gray-400" routerLink="cv" routerLinkActive="highlight">Cv</a>
    </li>
    <li class="mr-6">
      <a class="text-black-500 hover:text-gray-400" routerLink="about" routerLinkActive="highlight">{{ 'about' | translate}}</a>
    </li>
    <li class="mr-6">
      <a class="text-black-500 hover:text-gray-400" routerLink="contact" routerLinkActive="highlight">Contact</a>
    </li>
    <!-- <li class="mr-6">
      <a class="text-black-500 hover:text-gray-400" routerLink="projects" routerLinkActive="highlight">Projects</a>
    </li> -->
    <li class="ml-auto pr-5">
      <span class="cursor-pointer text-black-500 hover:text-gray-400" (click)="selectLanguage('fr')">Fr</span>
      |
      <span class="cursor-pointer text-black-500 hover:text-gray-400" (click)="selectLanguage('en')">En</span>
    </li>
  </ul>

